.projects {
  max-width: 880px;
  margin: 48px auto;
}

.projects__content {
  max-width: 768px;
  margin: 0 auto 32px;
}

.project-gallery {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}
