.skills {
  background-color: #dce1e3;
  min-height: min-content;
  padding: 40px;
}

.skills__content {
  margin: 0 auto;
  max-width: 880px;
}

.skills__title {
  font-family: Quicksand, Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.skills__icons {
  width: 80%;
  margin: 0 auto;
  padding: 28px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 620px;
}

.skills__icon {
  border-radius: 50%;
  min-height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 32px;
}

.skills__icon-image {
  max-height: 50px;
  max-width: 50px;
  height: 100%;
  width: auto;
}

@media screen and (max-width: 720px) {
  .skills {
    padding: 20px;
  }

  .skills__icons {
    width: auto;
    padding: 24px 0;
    gap: 24px;
    max-width: 540px;
  }
  .skills__icon {
    min-height: 64px;
    width: 64px;
  }

  .skills__icon-image {
    max-height: 40px;
    max-width: 40px;
    padding: 8px;
  }
}
